@{
    ViewData["Title"] = "HomeAgent";
}

<div id="chart"></div>

<script>
    d3.json('data?duration=5.00:00:00', function(response) {
        data = response.thermostatData
        data = MG.convert.date(data, 'time', "%s");
        // data = MG.convert.date(data, 'time', "%Y-%m-%dT%H:%M:%S.%LZ");
        
        console.log(data);
        MG.data_graphic({
            title: "Line Chart",
            description: "This is a simple line chart. You can remove the area portion by adding area: false to the arguments list.",
            data: data,
            full_width: true,
            height: 200,
            right: 40,
            target: document.getElementById('chart'),
            x_accessor: 'time',
            y_accessor: 'ambientTemperature',
            min_y: 68,
            max_y: 80
        });
    })
</script>